html,body{
    margin:0px;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}

cnavas{
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}

#slider1{
    position:absolute;
    bottom:190px;
    left:37%;
    width:27%;
    transform:scale(3);
}

#slider2{
    position:absolute;
    bottom:120px;
    left:37%;
    width:27%;
    transform:scale(3);
}


#slider3{
    position:absolute;
    bottom:50px;
    left:37%;
    width:27%;
    transform:scale(3);
}



#container1{
    position:absolute;
    top:50px;
    right:160px;
    background-color:#ffffff88;
    transform:scale(2.5);
}

