

html,body{
    margin:0px;
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
}

cnavas{
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    z-index:0;
}

#slider1{
    position:absolute;
    bottom:23%;
    left:35%;
    width:27%;
    transform:scale(3);
    z-index:1;
}
   

#slider2{
    position:absolute;
    bottom:14%;
    left:35%;
    width:27%;
    transform:scale(3);
    z-index:1;
}


#slider3{
    position:absolute;
    bottom:5%;
    left:35%;
    width:27%;
    transform:scale(3);
    z-index:1;
}



#container1{
    position:absolute;
    top:50px;
    right:160px;
    background-color:#ffffff88;
    transform:scale(2.5);
}

#select1{
    position:absolute;
    top:5%;
    left:5%;
    width:33%;
    font-size:40px;
}

#select2{
    position:absolute;
    top:5%;
    right:5%;
    width:33%;
    font-size:40px;
    visibility: hidden;
}




#rectangle{
    position:absolute;
    width:100%;;
    height:30%;
    background-color:#ffffff;
    bottom:0px;
    z-index:1;
    touch-action:none;
}





/* Remove shadow and customize the slider for Webkit browsers (Safari, Chrome, etc.) */
input[type="range"] {
-webkit-appearance: none; /* Remove default styling */
width: 100%; /* Adjust width as needed */
background: transparent; /* Remove default background */
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none; /* Remove default styling */
appearance: none;
width: 16px; /* Adjust size as needed */
height: 16px; /* Adjust size as needed */
background: #007aff; /* Customize color */
cursor: pointer;
border-radius: 50%; /* Make it round */
box-shadow: none; /* Remove shadow */
border: none; /* Remove border */
}

input[type="range"]::-moz-range-thumb {
width: 16px;
height: 16px;
background: #007aff;
cursor: pointer;
border-radius: 50%;
box-shadow: none;
border: none;
}

input[type="range"]::-ms-thumb {
width: 16px;
height: 16px;
background: #007aff;
cursor: pointer;
border-radius: 50%;
box-shadow: none;
border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
width: 100%;
height: 8px; /* Adjust height as needed */
cursor: pointer;
background: #ddd; /* Customize track color */
border-radius: 4px; /* Round the edges of the track */
border: none; /* Remove border */
}

input[type="range"]::-moz-range-track {
width: 100%;
height: 8px;
cursor: pointer;
background: #ddd;
border-radius: 4px;
border: none;
}

input[type="range"]::-ms-track {
width: 100%;
height: 8px;
cursor: pointer;
background: transparent; /* Required for proper track styling */
border-color: transparent;
color: transparent;
}

input[type="range"]::-ms-fill-lower {
background: #ddd;
border-radius: 4px;
}

input[type="range"]::-ms-fill-upper {
background: #ddd;
border-radius: 4px;
}

/* Hide the track in IE */
input[type="range"]::-ms-track {
background: transparent;
border-color: transparent;
color: transparent;
}